name: nfc_manager_example
description: Demonstrates how to use the nfc_manager plugin.
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  nfc_manager:
    path: ../

flutter:
  uses-material-design: true
